---
interface Props {
  placeholder: string;
}

const { placeholder } = Astro.props;
---

<form action="/search" role="search" class="group relative flex items-center">
  <input
    id="search-input"
    type="search"
    placeholder={placeholder}
    class="bg-bg-ui focus:bg-bg-ui-hover focus:ring-border-strong border-border-ui h-12 w-64 rounded-2xl border-2 py-2 pr-12 pl-4 text-xs transition-all duration-300 outline-none focus:w-80 focus:ring-1 sm:text-sm"
  />

  <div
    class="pointer-events-none absolute right-6 hidden items-center group-focus-within:hidden sm:flex"
  >
    <kbd
      class="text-tx-dimmed border-border-strong bg-bg-ui-hover flex h-5 items-center gap-1 rounded border px-1.5 font-sans text-[10px] font-medium"
    >
      <span id="kbd-platform">⌘</span>K
    </kbd>
  </div>
</form>

<script>
  import { initSearchShortcut } from "@lib/search-shortcut";

  initSearchShortcut();

  document.addEventListener("astro:page-load", initSearchShortcut);
</script>
