@import "tailwindcss";

@theme {
  --color-bg-page: var(--bg-page);
  --color-tx-base: var(--text-base);
  --color-border-ui: var(--border-base);

  --font-inter: var(--font-base);
}

:root {
  --bg-page: #ffffff;
  --text-base: #17171a;
  --border-base: rgba(0, 0, 0, 0.1);
  --font-base: "Inter", sans-serif;
}

.dark {
  --bg-page: #17171a;
  --text-base: #ffffff;
  --border-base: rgba(255, 255, 255, 0.1);
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--bg-page);
    color: var(--text-base);
    font-family: var(--font-base);

    @apply antialiased transition-colors duration-500;
  }

  button,
  a,
  input {
    font-family: inherit;
    color: inherit;
  }

  button {
    border: none;
    background: transparent;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    cursor: pointer;
    @apply transition-opacity hover:opacity-80;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }
}
