---
import PostCard from "@components/post/PostCard.astro";
import PostLink from "@components/post/components/PostLink.astro";
import Base from "@layouts/base.astro";
---

<Base pageTitle="home">
  <div class="grid h-screen grid-cols-6 grid-rows-5 gap-0">
    <div class="col-span-4 row-span-5">
      <div class="flex flex-col gap-2 px-6">
        <PostCard
          title="Meu Primeiro Post com Astro"
          description="Explorando as capacidades de performance e as ilhas de interatividade do Astro 4.0."
          pubDate={new Date("2026-03-10")}
          url="/post"
          tags={["astro", "webdev"]}
        />
      </div>
    </div>
    <div class="col-span-2 row-span-5">
      <h1 class="font-bold">Melhores Posts</h1>
      <PostLink title="Meu Primeiro Post com Astro" url="/post" />
    </div>
  </div>
</Base>
