---
import { Icon } from "astro-icon/components";

const userGithub = "danieltinois";
---

<a
  href=`https://github.com/${userGithub}`
  target="_blank"
  rel="noopener noreferrer"
  class="text-white/60 transition-colors hover:text-white"
  aria-label="GitHub"
>
  <Icon name="lucide:github" class="size-5" />
</a>
