---
const { adressLink, adressTitle } = Astro.props;
---

<li
  class="before:bg-tx-muted flex items-center gap-6 before:h-3 before:w-[1px] first:before:hidden"
>
  <a href=`/${adressLink}` class="text-sm font-medium">{adressTitle}</a>
</li>
