---
interface Props {
  placeholder: string;
}

const { placeholder } = Astro.props;
---

<form action="/search" role="search" class="group relative flex items-center">
  <input
    id="search-input"
    type="search"
    placeholder={placeholder}
    class="h-12 w-64 rounded-2xl bg-white/5 py-2 pr-12 pl-4 text-xs transition-all duration-300 outline-none focus:w-80 focus:bg-white/10 focus:ring-1 focus:ring-white/20 sm:text-sm"
  />

  <div
    class="pointer-events-none absolute right-6 hidden items-center group-focus-within:hidden sm:flex"
  >
    <kbd
      class="flex h-5 items-center gap-1 rounded border border-white/20 bg-white/10 px-1.5 font-sans text-[10px] font-medium text-white/40"
    >
      <span id="kbd-platform">⌘</span>K
    </kbd>
  </div>
</form>

<script>
  import { initSearchShortCut } from "../../actions/shortCutSearch";

  initSearchShortCut();

  document.addEventListener("astro:page-load", initSearchShortCut);
</script>
