---
import PostTag from "./PostTag.astro";

interface PostMetaProps {
  pubDate: Date;
  readingTime: Number;
  tags: string[];
}

const { pubDate, readingTime, tags } = Astro.props as PostMetaProps;

const formattedDate = pubDate.toLocaleDateString("pt-br", {
  day: "2-digit",
  month: "long",
  year: "numeric",
});
---

<div class="text-tx-dimmed flex items-center gap-4 text-sm">
  <time datetime={pubDate.toISOString()}>{formattedDate}</time>
  <span aria-hidden="true">&bull;</span>
  <span>Tempo de leitura: <strong>{readingTime} min</strong></span>
</div>

<div class="flex items-center gap-3">
  {tags.map((tag) => <PostTag title={tag} size={12} />)}
</div>
